body {
	overflow-x: hidden; /*--right gutter fix--*/
    font-family: Lato, Helvetica, sans-serif;
    line-height: 2;
}

*:focus {outline:none}

a {
    color: #000000;
    text-decoration: none;
}

a:hover
{
    color: #000000;
    opacity: 0.5;
    text-decoration:none;
    cursor:pointer;
}

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

.navbar {
	background-color: #FFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.navbar-brand {
    display: contents;
    margin-left: 5%;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    pointer-events:none
}

#longo-logo {
    width: 10%;
}

.nav-item {
    margin: 0 15px 0 15px;
	font-weight: 500;
    width: 90px;
}

.image-text-block {
    margin-top: 15%;
    height: 800px;
}

.home-inner-main {
    background-image: url(img/Photo-18.jpg);
}

.home-inner {
    background-image: url(img/third_img.jpg);
}

.home-inner-2 {
    background-image: url(img/safety_img.jpg);
}

.home-inner-3 {
    background-image: url(img/landing_img.jpg);
}

.caption-home {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    z-index: 1;
}

#caption-text {
    color: #000000;
    opacity: 0.5;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 2rem;
    letter-spacing: 5px;
}

.caption {
    display: flex;
    z-index: 1;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
}
#section-about {
    padding-top: 1px;
}

.caption-heading-right-1 {
    color: #000000;
    opacity: 0.5;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.caption-text-right-1 {
    color: #000000;
    opacity: 0.5;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.caption-2 {
    display: flex;
    z-index: 1;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
}

#caption-heading-left-2 {
    color: #000000;
    opacity: 0.5;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.caption-text-left-2 {
    color: #000000;
    opacity: 0.5;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.footer-inner-block {
    display: block;
    height: 800px;
}

.footer-block-text {
    height: 300px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    padding-top: 6%;
}

.footer-hedding {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 0px;
    text-align: center;
}

.footer-text {
    text-align: center;
}

.footer-link-block {
    margin-top: 10%;
    height: 300px;
}

.footer-slogan {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 0px;
    text-align: center;
}

.footer-links {
    letter-spacing: 2px;
    margin-bottom: 0px;
    text-align: center;
}

.footer-title {
    text-align: center;
}

#map {
    height: 100%;
}

/*--- iOS Landing Page Fix --*/
.landing-main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}

.landing-left-1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    background: #E9ECEF;
    z-index: -1;
}

.landing-right-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    background: #E9ECEF;
    z-index: -1;
}

.home-wrap-main {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner, .home-inner-2, .home-inner-3 {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.home-inner-main {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

@media (max-width: 1024px) {
    .home-wrap {
        clip: rect(0, 450px, 700px, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 768px){
    .home-wrap {
        display: none;
    }

    .landing-left-1, .landing-right-2 {
        display: none;
    }

    #longo-logo {
        width: 35%;
    }

    .caption-text-right-1 {
        margin: 25px;
    }

    .caption-text-left-2 {
        margin: 25px;
    }

    .caption-heading-right-1 {
        margin: 25px;
    }

    #caption-heading-left-2 {
        margin: 25px;
    }

    .footer-links {
        font-size: 12px;
    }
}

/*Edge - works to 41.16299.402.0*/
@supports (-ms-ime-align:auto)
{
    .home-inner, .home-inner-2, .home-inner-3 {
        position: center;
    }
}

/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .home-inner, .home-inner-2, .home-inner-3 {
        position: center;
    }
}